HERMES_FROM= # SMTP sender address. (Defaults to HERMES_USER.)
HERMES_HOST= # SMTP host. (Defaults to "smtp.gmail.com".)
HERMES_PASS= # Sender password.
HERMES_PORT= # Optional. (Defaults to 587.)
HERMES_USER= # SMTP login user.
