# No vars required. Below are their default values.

COMPOSE_PROJECT_NAME=hermes

HERMES_HOST_IMAP=imap.gmail.com
HERMES_HOST_SMTP=smtp.gmail.com
HERMES_PORT=8143
HERMES_PORT_IMAP=993
HERMES_PORT_SMTP=587
